# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# Ignore Wrangler directory
.wrangler/

# Ignore generated Wrangler config files for API
/apps/api/wrangler.toml

# Do not ignore the example file
!/apps/api/wrangler.toml.example

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

vite.config.*.timestamp*

# .env files
.env
.env.*
.secrets


.react-router
audio_storage
error.log
*.log